.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
  background-color: #FFB342;
  padding: 5px;
  font-size: 20px;
  align-items: center;
}

.header__list_element {
  margin-left: 15px;
  margin-right: 15px;
}

.header__list_element-contacts {
  background-color: #1C2752;
  padding: 20px;
  color: white;
}